<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions>
		<permission action="dispFaqAdminInsertFaq" target="manager" />
		<permission action="dispFaqAdminFaqInfo" target="manager" />
		<permission action="dispFaqAdminFaqAdditionSetup" target="manager" />

		<permission action="getFaqCategoryTplInfo" target="member" />

		<permission action="procFaqAdminInsertFaq" target="manager" />
		<permission action="procFaqInsertCategory" target="member" />
		<permission action="procFaqMoveCategory" target="member" />
		<permission action="procFaqDeleteCategory" target="member" />
	</permissions>
	<actions>
		<action name="dispFaqAdminContent" type="view" admin_index="true" />
		<action name="dispFaqAdminInsertFaq" type="view" setup_index="true" />
		<action name="dispFaqAdminDeleteFaq" type="view" />
		<action name="dispFaqAdminFaqInfo" type="view" />
		<action name="dispFaqAdminCategoryInfo" type="view" />
		<action name="dispFaqAdminFaqAdditionSetup" type="view" />
		<action name="dispFaqAdminGrantInfo" type="view" />
		<action name="dispFaqWrite" type="view" />
		<action name="dispFaqDelete" type="view" />

		<action name="dispFaqContent" type="view" index="true" />

		<action name="getFaqCategoryTplInfo" type="model" />

		<action name="procFaqAdminInsertFaq" type="controller" ruleset="insertFaq" />
		<action name="procFaqAdminDeleteFaq" type="controller" ruleset="deleteFaq" />
		<action name="procFaqInsertCategory" type="controller" />
		<action name="procFaqMoveCategory" type="controller" />
		<action name="procFaqDeleteCategory" type="controller" />
		<action name="procFaqInsertQuestion" type="controller" ruleset="insertQuestion" />
		<action name="procFaqDeleteQuestion" type="controller" ruleset="deleteQuestion" />

		<action name="proGetQuesList" type="controller" />
	</actions>
</module>
